@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(230, 230, 230);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Header styles */
.page__header {
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 1rem;
}

.page__header .navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* Main styles */
.page__main {
  flex: auto;
  display: flex;
  gap: 5rem;
  flex: auto;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1023px) {
  .page__main {
    flex-direction: column;
  }
}

.left,
.right,
.placement-board {
  display: grid;
  width: 30rem;
  height: 30rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

@media (max-width: 1025px) {
  .left,
  .right,
  placement-board {
    width: 28rem;
    height: 28rem;
  }
}

@media (max-width: 767px) {
  .left,
  .right,
  placement-board {
    width: 20rem;
    height: 20rem;
  }
}

/* Footer styles */
.page__footer {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-size: 20px;
  margin-top: auto;
}

.page__footer .fa-github {
  color: #24292f;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.page__footer .fa-github:hover {
  transform: rotate(360deg);
}
.board-cell {
  display: flex;
  border: 1px solid rgb(34, 34, 34);
  cursor: crosshair;
  justify-content: center;
  align-items: center;
}

.board-cell:hover {
  background-color: beige;
}

.headline {
  display: block;
  position: absolute;
  margin: auto;
  top: 15rem;
  font-size: 50px;
  color: black;
}

.start-game-btn {
  display: block;
  position: absolute;
  margin: auto;
  padding: 1.5rem 5rem;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 35px;
  background-color: cadetblue;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.start-game-btn:focus {
  transform: scale(0.8);
}

.start-game-btn.hidden,
.headline.hidden {
  display: none;
}

.board-cell.disabled {
  background-color: rgba(197, 197, 197, 0.493);
  cursor: not-allowed;
}

.board-cell.ship-hit {
  cursor: not-allowed;
  background-color: rgb(231, 76, 76);
}

.board-cell.sunk-ship {
  cursor: not-allowed;
  background-color: rgb(89, 91, 236);
}

.board-cell.missed-shot {
  cursor: not-allowed;
  background-color: rgb(82, 218, 161);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  border-radius: 10px;
  border: 2px solid cadetblue;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.modal-content .change-alignment-btn {
  padding: 0.8rem 2rem;
  border: none;
  outline: none;
  background-color: cadetblue;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bolder;
}

.placement-board-cell {
  display: flex;
  border: 1px solid rgb(34, 34, 34);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.placement-board-cell.invalid {
  background-color: rgb(235, 62, 96);
}

.placement-board-cell.valid {
  background-color: rgb(80, 226, 67);
}

.placement-board-cell.placed {
  background-color: rgb(47, 63, 93);
}
